body{
    text-align: left;
}
h1 {
    color: grey;
}
a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
a:hover {
    text-decoration: none;
    color: #ff6600;
}
a:visited {
    color: green;
}
ul, ol {
    padding: 0;
    margin: 0;
}
li {
    line-height: 12px;
}
li ul, li ul {
    margin-left: 24px;
}
p, ul, ol {
    font-size: 1.7em;
    line-height: 2.9em;
    max-width: 19em;
    word-wrap: break-word;
}
pre {
    font-size: 1.9em;
    padding: 0px 4em;
    line-height: 3.1em;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    word-wrap: break-word;
    line-height: 2.1em;
}

hr {
    width: auto 50%;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
    margin-top: 1.9em;
    margin-bottom: 2.3em;
}

img {
  height: 20em;
  width: auto;
  display: block;
}
s
/*li {
  padding-top: 2em;
  list-style-type:none;
  font-size: 12px;
}

li em {
  font-size: 11px;
}
*/

a, a:focus, a:visited, a:hover, a:link, a:active {
  font-size: 1.3em;
  text-decoration: none;
}

article {
    display: block;
    margin: auto 0;
    font-family: Consolas, Monaco, Andale Mono, monospace;
    font-size: 1em;
    padding-top: 0.9em;
    padding-left: 5em;
    padding-right: 5em;
    color: black;
}
article header {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    font-weight: bold;
    text-decoration: underline;
    font-size: 0.77em;
    padding-top: 0.1em;
    padding-bottom: 1.3em;
}
article section {
    font-size: 0.475em;
    font-weight: bold;
    text-decoration: none;
    color: #3A1AAD;
}
article summary {
    font-style: italic;
    text-decoration: none;
    color: black;
    line-height: 1.9em;
    font-size: 0.57em;
    padding-top: 1.3em;
    padding-bottom: 1.1em;
}

footer {
  font-weight: bolder;
  text-decoration: none;
  color: gray;
  font-size: 0.7em;
  padding-top: 0.1em;
  padding-bottom: 1.3em;
}
